@media (max-width:1024px) {

    /* abi to kuch nhi likha */

}

@media (max-width:991px) {
    .left{
        background-image: none;
        transform: none;
        margin-right: 0px;
        width: 0px;
    
    }
    .left img{
        position: none;
        top: 0px;
        left: 0px;
        display: none;
    }
    .right1 {
        padding: 10px;
        margin: 20px;
        margin-top: 155px;
    }
    .right .right1 img {
        padding: 0px 70px 14px 70px;
        margin-top: 25px;
    }
}
    

@media (max-width: 767px) {
    .left img {
        display: none;
    }
    .left{
        background-image: none;
        transform: none;
        margin-right: 0px;
        width: 0px;
    
    }
    .right1 {
        padding: 23px;
        margin: 20px;
        margin-top: 155px;
        border: none;
    }
    .right .right1 img {
        padding: 0px 70px 14px 70px;
        margin-top: 25px;
    }
    .main {
        height: 100%;
    }
    .navbar{
        padding: 22px 27px 0px;
    }
    .navbar span {
        padding: 9px;
        font-size: 10px;
    }
    .box1{
        border: none; 
    }
}
    

@media (max-width:393px) {
    .left{
        background-image: none;
        transform: none;
        margin-right: 0px;
        width: 0px;
    
    }
    .left img {
        display: none;
    }
    .right1 {
        padding: 10px;
        margin: 20px;
        margin-top: 155px;
        border: none;
    }
    .right .right1 img {
        padding: 0px 70px 14px 70px;
        margin-top: 25px;
    }
    .box1{
        border: none; 
    }
    .navbar{
        padding: 22px 27px 0px;
    }
    .navbar span {
        padding: 9px;
        font-size: 10px;
    }
}